.container {
  display: flex;
  margin: auto;
  gap: 2rem;
  z-index: 99;
  // background-color: beige;
  border-color: black;
  width: 23.45rem;
  // height: 41.7rem;
  flex-direction: column;
  align-items: center;
  .heading1 {
    display: none;
  }
  .heading2 {
    display: none;
  }

  .login {
    margin-top: 10.6rem;
    color: var(--gray-default, #636b78);

    text-align: center;
    font-family: var(--vyatha-font-3);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
  }
  .form_group {
    // width:10vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .input_group {
      position: relative;
      color: var(--gray-default, #505255);
      width: 20.4rem;
      .form_input {
        display: flex;
        align-items: center;
        border-radius: 0.3rem;
        border-style: solid;
        // outline:none;
        justify-content: center;
        width: 20.4rem;
        height: 2.5rem;
        padding-left: 1rem;
        color: #000;
        font-family: "Lato", sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem; /* 114.286% */
      }
      .form_label {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        transition: top 0.3s ease-in-out;
      }
      .form_input:focus ~ .form_label,
      .form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
        top: -0.7rem;
        left: 1rem;
        background-color: white;
        color: #000;
      }
    }
    .signup {
      display: flex;
      text-decoration: none;
      cursor: pointer;
      // width:5vw;
      justify-content: center;
      color: var(--gray-default, #505255);
      text-align: center;
      font-family: "Lato", sans-serif;
      font-size: 0.75rem;
      font-style: normal;
      margin-bottom: 2rem;
      font-weight: 400;
      line-height: 100%; /* 12px */
      letter-spacing: -0.0075rem;
    }
    // .captcha{
    //   margin-top:2rem;
    //   padding-right:21rem;
    // }
    .password {
      color: #347ec5;
      text-align: center;
      padding-top: 1rem;
      font-family: "Lato", sans-serif;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem; /* 200% */
      letter-spacing: 0.031rem;
      text-decoration-line: underline;
    }
    .button {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
      .btn {
        background-color: rgba(164, 229, 225, 1);
        // color:var(--gray-default,#505255);
        border: none;
        cursor: pointer;
        border-radius: 0.5rem;
        width: 10.125rem;
        height: 2.625rem;
        color: var(--text-fill-1, #303030);
        text-align: center;
        /* Button text */
        font-family: "Lato", sans-serif;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 22px */
        letter-spacing: -0.013rem;
      }
    }
  }
}
@media screen and (max-height: 700px) {
  .container {
    // height: 100vw;
    .login {
      margin-top: 4rem;
    }
  }
}
@media screen and (min-width: 660px) {
  .container {
    width: 60vw;
    // height: 731px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.14);
    .login {
      display: none;
    }
    .heading1 {
      display: flex;
      margin-top: 8vh;
      // width: 179px;
      // height: 38.527px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: #000;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 74.286% */
    }
    .heading2 {
      display: flex;
      color: #000;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 104% */
    }
  }
}
