.container {
  margin-top: 4rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4e5e1;

  .main {
    background-color: white;
    display: flex;
    flex-direction: column;
    // margin-left: 1rem;
    min-width: 16.5rem;
    width: 41rem;

    .Profileheading {
      width: 100%;
      background-image: linear-gradient(to left, #40bdb6, #347ec5);
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: #fff;
        font-size: 1rem;
        font-style: normal;
        line-height: 130%;
      }
    }

    .Profile_details {
      display: flex;
      flex-direction: column;

      .profile_image {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 5rem;
          height: 5rem;
          flex-shrink: 0;
          border-radius: 50%;
        }

        .profile {
          display: none;
        }
      }

      .Student_details {
        width: 100vw;
        height: 35vh;

        .heading {
          display: none;
        }

        .details_section {
          display: flex;
          justify-content: center;
          align-items: center;
          // margin: auto;

          .details_about {
            color: #24817b;
            font-family: Lato;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            width: 30vw;
            margin-left: 1.5rem;

            .right_section {
              margin: 0.6rem 0 0.6rem 0.6rem;
            }
          }

          .details_info {
            width: 70vw;
            color: #6c6c6c;
            font-family: Lato;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;

            .left_section {
              margin: 0.6rem;
            }
          }
        }
      }
    }

    .button_section {
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 3.2rem;
        height: 2.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0.7rem;
        background-color: white;
        border: none;

        div {
          background-color: #4cddd5;
          width: 8rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
        }
      }

      .Editprofile:hover,
      .Signout:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    .main {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: #bce8e6;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Profileheading {
        width: 100%;
        background-image: linear-gradient(to left, #40bdb6, #347ec5);
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: #fff;
          font-size: 1.5rem;
          font-style: normal;
          line-height: 130%;
        }
      }

      .Profile_details {
        display: flex;
        width: 90%;
        height: 50vh;
        background-color: #fff;
        margin-top: 3rem;
        flex-direction: row;

        .profile_image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .profile {
          display: inline;
        }

        .Student_details {
          width: 100vw;
          height: 35vh;

          .heading {
            display: none;
          }

          .details_section {
            display: flex;
            justify-content: center;
            align-items: center;
            // margin: auto;

            .details_about {
              color: #24817b;
              font-family: Lato;
              font-size: 1.3rem;
              font-style: normal;
              font-weight: 400;
              // width: 30vw;
              margin-left: 1.5rem;

              .right_section {
                margin: 0.6rem 0 0.6rem 0.6rem;
              }
            }

            .details_info {
              width: 40vw;
              color: #6c6c6c;
              font-family: Lato;
              font-size: 1.3rem;
              font-style: normal;
              font-weight: 400;

              .left_section {
                margin: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}
