@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

.main {
  margin: 0%;
  padding: 0%;
  font-family: "Lato", sans-serif;
}
.main2 {
  background: #d3f2fa;
  font-family: "Lato", sans-serif;
}
.head {
  text-align: center;
  padding-top: 0 8px;
  font-size: 3.5rem;
  padding: 4%;
  padding-top: 8vw;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: centre;
  background: #d3f2fa;
}
.card {
  padding-top: 2vw;
  padding-bottom: 1vw;
  width: 23%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba($color: #050000, $alpha: 1);
  transition: 0.4s;
  background: #fafafa;
  margin: 20px;
}

.imge {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  //   object-fit: cover;
}
p {
  text-align: center;
  padding-top: 0 8px;
}
.par3 {
  padding: 2rem;
  text-align: justify;
}
.para2 {
  margin-top: 2.5rem;
  font-size: 1.2rem;
}

.grievance {
  color: #347ec5;
}
.works {
  color: #347ec5;
}

button {
  display: block;
  margin: 0 auto;
}

.button {
  width: 247px;
  height: 55px;
  border: none;
  border-radius: 10px;
  background: #a4e5e1;
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3rem;

  &:hover {
    background-color: #86c9c2;
  }

  &:active {
    background-color: #5aaea6;
  }
}
.butt1 {
  padding-bottom: 50px;
}

.container1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  .card1 {
    top: 1rem;
    .head1 {
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 0;
      font-weight: 400;
      font-size: 2rem;
    }
    .acc {
      font-weight: 500;
      font-size: 1.5rem;
      text-align: center;
    }
    .imgee {
      width: 22rem;
      height: 22rem;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    .listt {
      margin-top: 2rem;
      font-size: 1.2rem;
      li {
        margin-bottom: 2rem;
        display: list-item;
        list-style-type: disc;
      }
    }
  }
}

@media (max-width: 320px) {
  .head1 {
    font-size: x-large;
    font-weight: 600;
  }
  .card1 {
    margin-left: 1rem;
  }
  .button {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 660px) {
  .head {
    font-size: 3rem;
  }
  .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      text-align: none;
      li {
        display: list-item;
        list-style-type: disc;
      }
    }
  }
  .imgee {
    padding-top: 23px;
    width: 280px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}
