.dropdownContainer {
  position: relative;
  .sortSelect {
    background-color: transparent;
    background-image: url("https://res.cloudinary.com/dlx4meooj/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1697811898/UC%20VYATHA/octicon_filter-16_yjhqwg.jpg?_s=public-apps");
    background-repeat: no-repeat;
    width: 30px;
    height: 5vh;
    color: transparent;
    border-color: transparent;
    background-position: center;
    option {
      font-size: clamp(16px, 3vw, 28px);
      color: #000;
      background-color: #ffffff;
    }
  }
}
