.cardhome {
  max-width: 81.3rem;
  margin: 0 auto;
}
.cardmap {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.complain_description {
  height: 3.4rem;
  width: 59.1rem;
}
.complain_content {
  color: var(--graydefault);
  font-family: "Lato-Light", Helvetica;
  font-size: 1.125rem;
  font-weight: 300;
  left: 0;
  letter-spacing: -0.011rem;
  line-height: 1.125rem;

  width: 47rem;
}
.cardmap {
  background-color: #d9d9d9;
  height: 17.6rem;
  .content_entity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .inner_map {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      max-width: 53.1rem;
    }
  }
}
.date_time {
  color: #565657cc;
  font-family: "Lato-Medium", Helvetica;
  font-size: 0.875rem;
  font-weight: 500;

  letter-spacing: -0.01rem;
  line-height: 0.875rem;

  transform: rotate(-0.16deg);
  white-space: nowrap;
  width: 12.25rem;
}

.complain_title {
  color: #000000;
  font-family: "Lato-Regular", Helvetica;
  font-size: 2rem;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.02rem;
  line-height: 2rem;
}
.complain_con_img {
  img {
    border-radius: 0.5rem;
  }
}
.vector1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vect_card {
  position: relative;
}
.vect_card_text {
  position: absolute;
  top: 0;
  padding: 0.5rem 0.31rem 0.625rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Lato-Regular", Helvetica;
}
.tag_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment_box {
  float: left;
}
