.container {
  background-color: fff;
}
.CardContainer {
  background-color: var(--vyatha4-white);
  border-radius: 1vw;
  padding: 2vh;
  // width: 60vw;
}
.Warden,
.Registered,
.Supervisor,
.Dean {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7faf4;
}

.closebtn {
  background-color: var(#d7faf4);
  font-family: var(--vyatha-font-4);
  font-size: clamp(8px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 10px */
  letter-spacing: -0.1px;
  cursor: pointer;
}

.StatusImg {
  width: 5vw;
  height: 5vw;
}

.StatusImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 659px) {
  .StatusImg {
    width: 8vw;
    height: 8vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #dce5e4;

    .SearchBar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background: var(--vyatha4-gradient-1);
      height: 5vh;
      width: 100%;
      padding: 0.25vh;
      border-color: none;

      input {
        width: 50vw;
        border-radius: 1vw;
        border-color: transparent;
        height: 30px;
        padding: 0 2vw;
        font-size: 3.5vw;
      }

      a {
        img {
          height: 40px;
        }
      }
    }
    .ComplaintCard {
      .ComplaintCardInner {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        // font-size: 2vw;
        // padding: 2vh;
        width: 100vw;

        .CardContainer {
          // padding-bottom: 1vh;
          width: 100%;
          .DateAndTime {
            color: rgba(86, 87, 87, 0.8);
            font-family: var(--vyatha-font-4);
            font-size: clamp(8px, 2vw, 18px);
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.1px;
            transform: rotate(-0.158deg);
            flex-shrink: 0;
          }
          .Description {
            padding: 2vw 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .closebtn {
              width: 14vw;
              height: 5vw;
              border-radius: 2vw;
              border-color: transparent;
              font-size: 2vw;
            }
            p {
              text-align: start;
              color: var(--Gray-Default, #505255);
              font-family: var(--vyatha-font-4);
              font-size: clamp(10px, 2vw, 18px);
              // font-style: normal;
              font-weight: 10;
              line-height: 100%; /* 10px */
              letter-spacing: -0.1px;
              min-width: 225px;
              flex-shrink: 0;
              width: 60vw;
              padding: 1vw 0;
            }
          }
          .Heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .compliantTitle {
              a {
                text-decoration: none;
                h2 {
                  color: #000;
                  text-align: center;
                  font-family: var(-vyatha-font-4);
                  font-size: clamp(14px, 3vw, 24px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 100%; /* 14px */
                  letter-spacing: -0.14px;
                }
              }
            }
            img {
              padding: 1vw;
            }
          }
        }

        .SelectBar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          height: 6vw;
          // width: 90vw;
          font-size: clamp(12px, 3vw, 16px);
          border-radius: 2vh;

          .Warden {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 6vw;
            width: 22.5vw;
            min-width: 60px;
            max-width: 250px;
            min-width: 75px;
            padding: 0 3vw;
            background: rgba(54, 137, 194, 1);
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Registered {
            background-color: lightgray;
            border-radius: 3vw 0 0 3vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 6vw;
            width: 22.5vw;
            min-width: 60px;
            max-width: 250px;
            padding: 0 3vw;
            border-radius: 3vw 0 0 3vw;
            clip-path: polygon(0% 0, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          }

          .Supervisor {
            background-color: lightgrey;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            width: 22.5vw;
            min-width: 60px;
            max-width: 250px;
            padding: 0 2vw;
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Dean {
            background-color: lightgrey;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            width: 22.5vw;
            min-width: 60px;
            max-width: 250px;
            padding: 0 3vw;
            border-radius: 0 3vw 3vw 0;
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #dce5e4;
    overflow-x: hidden;

    .SearchBar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background: var(--vyatha4-gradient-1);
      height: 6vh;
      width: 100vw;
      padding: 0.25vh;
      border-color: none;

      input {
        width: 60vw;
        height: 35px;
        border-radius: 1vw;
        border-color: transparent;
        padding: 0 2vw;
        font-size: clamp(12px, 2.5vw, 24px);
      }

      a {
        img {
          height: 40px;
        }
      }
    }
    .ComplaintCard {
      max-width: 1280px;
      .ComplaintCardInner {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        font-size: 2vw;
        padding: 10vh;
        .CardContainer {
          padding-bottom: 1vh;
          min-width: 600px;
          background-color: #ffffff;
          .DateAndTime {
            color: rgba(86, 87, 87, 0.8);
            font-size: clamp(12px, 2vw, 16px);
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.1px;
            transform: rotate(-0.158deg);
            flex-shrink: 0;
          }
          .Description {
            padding: 1vw 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .closebtn {
              background-color: #d7faf4;
              width: 100px;
              height: 30px;
              border-radius: 2vw;
              border-color: transparent;
              font-size: clamp(12px, 2vw, 20px);
            }
            p {
              text-align: start;
              padding: 1vh 0;
              color: var(--gray-default, #505255);
              font-family: var(--vyatha-font-4);
              font-size: clamp(12px, 1vw, 18px);
              font-style: normal;
              font-weight: 300;
              line-height: 100%; /* 10px */
              letter-spacing: -0.1px;
              width: 60vw;
              max-width: 600px;
              display: flex;
            }
          }
          .Heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            div {
              a {
                text-decoration: none;
                font-size: clamp(12px, 2vw, 24px);
                h2 {
                  color: black;
                  font-weight: 500;
                }
              }
            }
            img {
              padding: 1vw;
            }
          }
        }

        .SelectBar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          max-width: 600px;
          width: 90vw;
          height: 40px;
          font-size: clamp(8px, 2.6vw, 16px);
          background-color: #ffffff;
          border-radius: 2vh;

          .Warden {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            max-height: 30px;
            min-width: 150px;
            padding: 0 2vw;
            background: rgba(54, 137, 194, 1);
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Registered {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            max-height: 30px;
            min-width: 150px;
            padding: 0 2vw;
            border-radius: 3vw 0 0 3vw;
            clip-path: polygon(0% 0, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          }

          .Supervisor {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            max-height: 30px;
            min-width: 150px;
            padding: 0 2vw;
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Dean {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 6vw;
            max-height: 30px;
            min-width: 150px;
            padding: 0 2vw;
            border-radius: 0 3vw 3vw 0;
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 50%, 0% 0%);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    overflow-x: hidden;
    background-color: #d7faf4;

    .SearchBar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: var(--vyatha4-gradient-1);
      width: 100vw;
      padding: 0 0.25vh;
      border-color: none;

      input {
        width: 52vw;
        min-width: 500px;
        height: 100%;
        border-radius: 0.5vw;
        padding: 0 2vw;
        border-color: transparent;
        text-align: center;
        font-size: clamp(12px, 2.5vw, 24px);
      }
      a {
        img {
          height: 40px;
        }
      }
    }
    .ComplaintCard {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10vh;
      border-radius: 4vw;
      max-width: 100vw;
      .ComplaintCardInner {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        font-size: 2vw;
        padding: 2vh;

        .CardContainer {
          // box-shadow: var(--vyatha4-shadow-2);
          background-color: var(--vyatha4-white);
          border-radius: 1vw;
          padding: 3vh;
          min-width: 70vw;
          margin-top: 1vw;
          margin-bottom: 1vw;
          .DateAndTime {
            // color: rgba(86, 87, 87, 0.8);
            color: #000;
            font-family: var(--vyatha-font-4);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 18px */
            letter-spacing: -0.18px;
          }
          .Description {
            padding: 2vw 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: clamp(8px, 1vw, 14px);
            .closebtn {
              width: 100px;
              height: 40px;
              border-radius: 2vw;
              border-color: transparent;
              font-size: 22px;
            }
            p {
              text-align: start;
              color: var(--gray-default, #505255);
              font-family: var(--vyatha-font-4);
              font-size: 20px;
              font-style: normal;
              font-weight: 300;
              line-height: 100%; /* 10px */
              letter-spacing: -0.1px;
              width: 60vw;
              max-width: 600px;
            }
          }
          .Heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            div {
              a {
                text-decoration: none;
                font-size: clamp(12px, 2vw, 22px);
                h2 {
                  color: black;
                  font-weight: 500;
                }
              }
            }
            img {
              padding: 1vw;
            }
          }
        }

        .SelectBar {
          display: flex;
          flex-direction: row;
          max-width: 80vw;
          width: 90vw;
          height: 3vw;
          max-height: 60px;
          font-size: clamp(10px, 2.6vw, 20px);
          background-color: #ffffff;
          border-radius: 2vh;

          .Warden {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.5vw;
            min-height: 40px;
            min-width: 20vw;
            padding: 0 2vw;
            background: rgba(54, 137, 194, 1);
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Registered {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.5vw;
            min-height: 40px;
            min-width: 20vw;
            padding: 0 2vw;
            border-radius: 3vw 0 0 3vw;
            clip-path: polygon(0% 0, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          }

          .Supervisor {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.5vw;
            min-height: 40px;
            min-width: 20vw;
            padding: 0 2vw;
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          }

          .Dean {
            // background-color: lightgray;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.5vw;
            min-height: 40px;
            min-width: 20vw;
            padding: 0 2vw;
            border-radius: 0 3vw 3vw 0;
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 50%, 0% 0%);
          }
        }
      }
    }
  }
}
