@media screen and (max-width: 599.99px) {
  #solvedAtDetails {
    font-size: 7vw;
  }

  #mainComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.5vw 0;
  }

  #addcommentbtn {
    background-color: #a4e5e1;
    border: none;
    outline: none;
    padding: 2vw 4vw;
    cursor: pointer;
    font-size: 2.5vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border: 1px solid #a4e5e1;
    border-radius: 5px;
  }

  #flex_d {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 4rem;
    .title {
      width: 100%;
      // position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--vyatha4-gradient-1);
      box-shadow: var(--vyatha4-shadow-1);
      padding-top: 2vw;
      padding-bottom: 2vw;
      h1 {
        color: #fff;
        font-size: clamp(14px, 3vw, 24px);
        font-weight: 300;
        font-size: 4vw;
      }
      a {
        img {
          display: none;
        }
      }
    }
    .Identity {
      display: flex;
      flex-direction: row;
      box-shadow: var(--vyatha4-shadow-2);
      .Info {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 2vh;
        .FilledBy {
          padding: 0 2vw;
          position: relative;
          bottom: 3vh;
          font-size: 1.25vh;
          background-color: var(--vyatha4-white);
          width: 15vw;
          border-radius: 2vw;
        }
        li {
          width: 40vw;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          list-style: none;
          padding: 1vw;
          font-size: 3vw;
          font-weight: 500;
        }
      }
      .img {
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
        img {
          width: 40vw;
          height: 80%;
          background: var(--vyatha-background-1);
          border-radius: 1vw;
        }
      }
    }
    .ComplaintImg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vw;
      margin-bottom: 10vw;
      img {
        width: 90%;
        height: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        background: var(--vyatha-background-1);
      }
    }
    .Progress {
      background: var(--vyatha-background-1);
    }

    .Comments {
      position: relative;
      font-size: 3vw;
      padding: 0.5vw 2vw;
      box-shadow: var(--vyatha4-shadow-2);

      .CommentsHeading {
        position: relative;
        bottom: 1vh;
        font-size: 0.8em;
        background-color: white;
        width: 18vw;
        border-radius: 1vw;
        padding: 0 0.75vh;
      }
      li {
        color: gray;
        font-size: 3vw;
        font-weight: 600;
        list-style: circle;
        span {
          color: black;
        }
      }
      .Date {
        text-align: end;
      }
      .CommentsDropD {
        .SeeComments {
          display: flex;
          font-size: clamp(12px, 3vw, 18px);
          background-color: transparent;
          border-color: transparent;
        }
      }
      p {
        color: var(--gray-default, #505255);
        // font-family: Lato;
        font-size: 2.8vw;
        font-style: normal;
        font-weight: 300;
        line-height: 100%; /* 10px */
        letter-spacing: -0.1px;
      }
    }
    .ComplaintButtons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .TapToComment {
        padding: 1vh;
        input {
          padding: 1vh;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 40vw;
          height: 8vw;
          background-color: white;
          border-radius: 2vw;
          border: 1px solid gray;
          font-size: clamp(12px, 3vw, 24px);
          text-align: center;
        }
      }
      .TapToSelect {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3vw;
        font-weight: 400;
        padding: 0 1vh;
        select {
          text-align: center;
          border-radius: 2vw;
          width: 40vw;
          height: 8vw;
          border: 1px solid gray;
        }
      }
    }
    .ForwardButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vh;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a4e5e1;
        padding: 5vw 20vw;
        width: 40vw;
        text-align: center;
        color: black;
        border: 1px solid #a4e5e1;
        border-radius: 1vh;
        cursor: pointer;
        font-size: 6vw;
        height: 10vw;
      }
    }
  }
}

// --------------------------------------------------------------------LargeScreen------------------------------------------------------------------------------------------
@media screen and (min-width: 600px) {
  #solvedAtDetails {
    font-size: 2vw;
    font-style: italic;
    margin: 1vw 0;
  }

  #mainComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw 0;
  }

  #addcommentbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4e5e1;
    padding: 1vw 2vw;
    font-weight: 500;
    text-align: center;
    color: black;
    border: 1px solid #a4e5e1;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 1.25vw;
    margin-bottom: 2.5vw;
  }

  .Container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    .title {
      width: 100%;
      // position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--vyatha4-gradient-1);
      box-shadow: var(--vyatha4-shadow-1);
      // height: 6vh;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      h1 {
        color: #fff;
        font-size: clamp(16px, 4vw, 24px);
        font-weight: 300;
        // margin-right: 25vw;
        font-size: 1.75vw;
      }
      a {
        img {
          zoom: 50%;
        }
      }
    }
    .Identity {
      display: flex;
      flex-direction: row;
      box-shadow: var(--vyatha4-shadow-2);
      .Info {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 2vh;
        .FilledBy {
          padding: 0 2vw;
          position: relative;
          bottom: 3vh;
          font-size: 1.25vh;
          background-color: var(--vyatha4-white);
          width: 15vw;
          border-radius: 2vw;
        }
        li {
          width: 40vw;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          list-style: none;
          padding: 1vw;
          font-size: 3vw;
          font-weight: 500;
        }
      }
      .img {
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
        img {
          width: 40vw;
          height: 80%;
          background: var(--vyatha-background-1);
          border-radius: 1vw;
        }
      }
    }
    .ComplaintImg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vw;
      img {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        background: var(--vyatha-background-1);
      }
    }
    .Progress {
      background: var(--vyatha-background-1);
      height: 20vw;
      width: 25vw;
    }

    .Comments {
      position: relative;
      font-size: clamp(12px, 3vw, 18px);
      padding: 0.5vw 2vw;
      box-shadow: var(--vyatha4-shadow-2);

      .CommentsHeading {
        position: relative;
        bottom: 1vh;
        font-size: 0.8em;
        background-color: white;
        width: 18vw;
        border-radius: 1vw;
        padding: 0 0.75vh;
      }
      li {
        color: gray;
        font-size: clamp(8px, 2vw, 16px);
        font-weight: 600;
        list-style: circle;
        span {
          color: black;
        }
      }
      .Date {
        text-align: end;
      }
      .CommentsDropD {
        button {
          font-size: 3vw;
          background-color: transparent;
          border-color: transparent;
        }
      }
      p {
        color: var(--gray-default, #505255);
        font-size: 2.8vw;
        font-style: normal;
        font-weight: 300;
        line-height: 100%; /* 10px */
        letter-spacing: -0.1px;
      }
    }
    .ComplaintButtons {
      .TapToComment {
        // padding: 1vh;
        input {
          padding: 1vh;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          min-width: 200px;
          width: 40vw;
          height: 6vh;
          background-color: white;
          border-radius: 2vw;
          border: 1px solid gray;
          font-size: clamp(12px, 3vw, 24px);
          text-align: center;
        }
      }
      .TapToSelect {
        font-size: clamp(12px, 3vw, 24px);
        font-weight: 400;
        // margin-top: 4vw;
        select {
          text-align: center;
          border-radius: 2vw;
          min-width: 200px;
          width: 40vw;
          // height: 6vh;
          border: 1px solid gray;
        }
        p {
          font-size: 1vw;
          margin: 1vw;
          color: red;
        }
      }
    }
    .ForwardButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vh;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a4e5e1;
        padding: 5vw 20vw;
        width: 40vw;
        text-align: center;
        color: black;
        border: 1px solid #a4e5e1;
        border-radius: 1vh;
        cursor: pointer;
        font-size: 6vw;
        height: 10vw;
      }
    }
  }

  // ------------------------------------------------------
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    .title {
      // position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      background: var(--vyatha4-gradient-1);
      box-shadow: var(--vyatha4-shadow-1);
      color: #fff;
      font-size: 2.75vw;
      // height: 6vh;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
    }
    .Identity {
      max-width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-shadow: var(--vyatha4-shadow-2);
      margin-top: 4vw;
      .Info {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 2vh;
        .FilledBy {
          padding: 0 2vw;
          position: relative;
          bottom: 3vh;
          font-size: clamp(4px, 2vw, 24px);
          background-color: var(--vyatha4-white);
          width: 15vw;
          border-radius: 2vw;
        }
        li {
          width: 40vw;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          list-style: none;
          padding: 1vw;
          font-size: clamp(16px, 3vw, 24px);
          font-weight: 500;
        }
      }
      .img {
        display: flex;
        width: 40vw;
        justify-content: center;
        align-items: center;
        img {
          width: 30vw;
          height: 80%;
          background: var(--vyatha-background-1);
          border-radius: 1vw;
        }
      }
    }
    .ComplaintProgress {
      display: flex;
      padding: 1.5vw;
      flex-direction: row-reverse;
      .ComplaintImg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vw;
        max-height: 625px;
        width: 36vw;
        padding-left: 1.5vw;
        img {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2vw;
          background: var(--vyatha-background-1);
        }
      }
      .Progress {
        // border-radius: 2vw;
        max-height: 625px;
        width: 44vw;
        background: var(--vyatha-background-1);
      }
    }
    .Comments {
      max-width: 80vw;
      position: relative;
      font-size: clamp(12px, 3vw, 30px);
      padding: 0.5vw 2vw;
      box-shadow: var(--vyatha4-shadow-2);
      width: 90vw;

      .CommentsHeading {
        position: relative;
        bottom: 2vh;
        font-size: clamp(16px, 3vw, 30px);
        background-color: white;
        width: 18vw;
        border-radius: 1vw;
        padding: 0 1vh;
      }
      li {
        color: gray;
        font-size: clamp(12px, 2vw, 24px);
        font-weight: 600;
        list-style: circle;
        span {
          color: black;
        }
      }
      .Date {
        text-align: end;
        font-size: clamp(8px, 2vw, 18px);
      }
      .CommentsDropD {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 1vw;
        .SeeComments {
          display: flex;
          font-size: clamp(6px, 2vw, 24px);
          background-color: transparent;
          border-color: transparent;
          border-radius: 1vw;
        }
      }
      p {
        color: var(--gray-default, #505255);
        font-size: clamp(12px, 2.8vw, 18px);
        font-style: normal;
        font-weight: 300;
        line-height: 100%; /* 10px */
        letter-spacing: -0.1px;
      }
    }
    .TapToComment {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      padding: 2vw;
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vw;
        width: 80vw;
        height: 8vw;
        max-height: 50px;
        max-width: 600px;
        background-color: white;
        border-radius: 2.5vw;
        border: 1px solid gray;
        font-size: clamp(12px, 3vw, 30px);
      }
    }
    .TapToSelect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: clamp(12px, 3vw, 30px);
      font-weight: 400;
      padding: 0 1vh;
      select {
        min-width: 200px;
        width: 40vw;
        height: 6vh;
        border: 2px solid gray;
        border-radius: 2vw;
        option {
          min-width: 200px;
          width: 40vw;
          height: 6vh;
          text-align: center;
          font-size: clamp(12px, 3vw, 24px);
          // display: flex;
          // justify-content: center;
          // text-align: center;
        }
      }
    }
    .ForwardButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vh;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a4e5e1;
        padding: 2vw 0;
        width: 40vw;
        max-width: 275px;
        text-align: center;
        color: black;
        border: 1px solid #a4e5e1;
        border-radius: 2vh;
        cursor: pointer;
        font-size: clamp(12px, 6vw, 30px);
        height: 10vw;
        max-height: 40px;
        min-height: 25px;
      }
    }
  }
}
