// body{
//     width:100vw;
// }
.Container {
  // position: absolute;
  // margin-top: 2rem;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 2rem 2rem;
  // flex-direction:column;
  // gap:2vh;
  .heading {
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
  }
  input {
    border-radius: 1vh;
    padding-left: 1rem;
    border-style: solid;
  }
  button {
    border: none;
    outline: none;
    background-color: var(--lightblue-default);
    border-radius: 0.4rem;
    width: 10vw !important;
  }

  .refresh {
    background-color: #d7faf4;
  }

  .Submit {
    background-color: #40bdb6;
  }
}

@media (max-width: 660px) {
  .Container {
    button {
      width: 23vw !important;
      font-size: 3vw;
    }
  }
}
