// body{
//     width:100vw;
// }
.Container {
  // position: absolute;
  // margin-top: 2rem;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  gap: 0.8rem;
  // flex-direction:column;
  // gap:2vh;

  .one,
  .two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  // .heading {
  //   display: flex;
  //   background-color: bisque;
  //   justify-content: center;
  //   align-items: center;
  // }
  .heading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
  }
  input {
    width: 100%;
    border: 0.1rem solid grey;
  }

  button {
    border: none;
    outline: none;
    background-color: var(--lightblue-default);
    border-radius: 0.4rem;
    // width: 10vw !important;
  }
  .refresh,
  .Submit {
    background-color: #40bdb6;
    min-width: 7rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    @media only screen and (max-width: 660px) {
      padding: 0.2rem 0.5rem;
      min-width: 5rem;
    }
  }

  // .refresh {
  //   background-color: #d7faf4;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .Submit {
  //   background-color: #40bdb6;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

// @media (max-width: 660px) {
//   .Container {
//     button {
//       width: 23vw !important;
//       font-size: 3vw;
//     }
//   }
// }
