.Title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #40bdb6 2.67%, #347ec5 119.87%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  color: #fff;
  font-size: 4vw;
  height: 6vh;
}

.CForm {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100vw;
  height: 100%;
  .ComplaintForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;

    .form_group {
      position: relative;
      margin-bottom: 20px;
      label {
        position: absolute;
        top: 25%;
        left: 10px;
        transition: 0.3s ease-out;
        pointer-events: none;
        color: black;
      }
      input,
      select {
        position: relative;
        width: 90vw;
        height: 5vh;
        padding: 5px;
        border: 2px solid #a4e5e1;
        border-radius: 6px;
        outline: gray;
        font-size: 16px;
      }

      .select_option {
        position: relative;
        max-width: 90vw;
        height: 5vh;
        padding: 5px;
        border: 2px solid #a4e5e1;
        border-radius: 6px;
        outline: gray;
        font-size: 16px;
      }
      textarea {
        width: 90vw;
        height: 10vh;
        padding: 5px;
        border: 2px solid #a4e5e1;
        border-radius: 6px;
        outline: gray;
        font-size: 16px;
        resize: none;
      }
      textarea::-webkit-scrollbar {
        display: none;
      }

      :focus {
        border-bottom: 2px solid gray;
      }

      input:focus + label,
      input:valid + label,
      textarea:valid + label,
      select:focus + label,
      select:valid + label,
      textarea:focus + label {
        top: -10px;
        left: 10px;
        background-color: #fff;
        padding: 0 5px;
        font-size: 12px;
        color: black;
      }

      input:focus {
        border-bottom: 2px solid #a4e5e1;
      }
    }
    .photoUpload {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 5vh;

      label {
        padding: 1vh 2vh;
        width: 40vw;
        text-align: center;
        background-color: #a4e5e1;
        color: black;
        border: 1px solid #a4e5e1;
        border-radius: 5px;
        cursor: pointer;
        font-size: 2.85vw;
      }

      .photoupload_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 60vw;
        border: 2px dashed #a4e5e1;
        border-radius: 4px;
        padding: 10px;
        img {
          display: inline-block;
          align-items: center;
          justify-content: center;
          min-width: fit-content;
          max-width: 98%;
          position: relative;
        }
        .photouploadcontent {
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            text-align: center;
          }
          .or {
            color: #a4e5e1;
          }
        }
        input[type="file"] {
          display: none;
        }
      }
    }
  }

  .captcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #a4e5e1;
    padding: 1vh 2vh;
    width: 40vw;
    text-align: center;
    background-color: #a4e5e1;
    color: black;
    border: 1px solid #a4e5e1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vw;
  }
}
