.search_bar {
  max-width: 81.25rem;
  height: 4.2rem;
  width: 81.25rem;
  margin: 0 auto;
 background:linear-gradient(45deg,#347EC5,#40BDB6);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.search_bar {
  input {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.31rem 0.625rem 0.31rem 19.4rem;
    width: 46.5rem;
    text-align: justify;
    height: 3rem;
    display: block;
    outline: 0;
    font-size: 1.3rem;
    font-family: lato;
  }
}
.cardAdmin {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 660px) {
   html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .cardAdmin {
    max-width: 23rem;

    .search_bar {
      width: 23rem;

      input {
        font-size: 0.5rem;
        max-width: 200px;
        width: 80%;
        min-width: 50px;
      }

      img {
        width: 25px;
      }
    }
  }
}
