.parent__logout {
  // height: 100vh;
  padding-top: 3vw;
  // background-color: #616e7e;
  user-select: none;
  width: 50vw;
  margin: 7vw auto 0 auto;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.14);
  border-radius: 50px;
  // background-color: red;
}

.img__ecell__holder {
  width: 10vw;
  height: 10vw;
  margin: 0 auto;
}

.img__ecell__holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.signedin__details {
  margin: 3.5vw auto 5vw auto;
  text-align: center;
  padding: 0.75vw;
  border: 1px solid black;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  border-radius: 5px;
}

#auth__details__cont {
  width: 70%;
  flex: none;
  order: 1;
}

.signedin__details p {
  color: #6c6c6c;
  font-size: 1.8vw;
  margin-bottom: 0 !important;
}

#bold__auth__name {
  font-weight: 700;
  color: #fff;
  a {
    text-decoration: none;
    color: #a4e5e1;
  }
}

.user__auth__profile_img {
  margin: auto !important;
  width: 20%;
  height: 20%;
  flex: none;
  order: 1;
  overflow: hidden;
  /* display: flex;
      justify-content: center;
      align-items: center; */
  margin: 0 auto;
  margin-bottom: 1vw;
}

.user__auth__profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.logout__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout__btn button {
  background-color: #eb8888;
  color: black;
  border: 1.5px solid white;
  outline: none;
  font-size: 1.25vw;
  font-weight: 600;
  border-radius: 15px;
  padding: 0.7vw 3vw;
  cursor: pointer;
}

.back__to__dashboard {
  margin: 4vw 0;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.back__to__dashboard button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #2f3c4c;
  font-size: 1.25vw;
  margin-bottom: 2vw;
  cursor: pointer;
}

.select_p {
  color: #505255;
  font-size: 1.5vw;
  font-weight: 500;
  margin: 1.5vw 0;
}

@media screen and (max-width: 768px) {
  .parent__logout {
    padding-top: 20vw;
    width: 100% !important;
    box-shadow: none;
    border-radius: 0;
  }

  .signedin__details {
    margin: 10vw auto 10vw auto;
    width: 80%;
  }

  .img__ecell__holder {
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
  }

  .signedin__details p {
    font-size: 4vw;
  }

  .user__auth__profile_img {
    width: 20%;
    height: 20%;
  }

  .logout__btn button {
    font-size: 4vw;
    padding: 3vw 9vw;
  }

  .back__to__dashboard {
    margin: 20vw 0;
  }

  .back__to__dashboard button {
    font-size: 3.85vw;
  }

  .select_p {
    font-size: 4vw;
    margin: 5vw 0;
  }
}
